.subtitulo{
    color: black;
    font-weight: 700;
    font-size: 30px;
}
.sub_categoria{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 1rem;
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas de igual tamaño */
    gap: 4rem; /* Espacio de 16 píxeles entre columnas y filas */
}
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-servicio{
    width: 400px;
    height: 65px;
    color: #FFF;
    background: #00729A;
    cursor: pointer;
    margin-top: 4rem;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.8s ease, transform 0.8s ease, box-shadow 0.5s ease;
}

.btn-servicio:hover{
    background: linear-gradient(to bottom, #6ac6e7, #002c3d);
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4); /* Cambia la sombra al pasar el cursor */
}
@media screen and (max-width: 992px){
    .container-grid{
        width: 100%;
    }
    .btn-servicio{
        width: 300px;
    }
    
}
@media screen and (max-width: 768px) {
    .container-grid{
        grid-template-columns: repeat(2, 3fr);
        gap: 5rem;
    }
} 

/*Pantallas sm Smartphones*/
@media screen and (max-width: 576px) {
    .container-grid{
        grid-template-columns: repeat(1, 5fr);
        gap: 5rem;
    }

}
