.cont-foto{
    height: 500px;
}
.contenedor-perfil{
    height: 300px;
}
.contenedor-foto-perfil {
    position: relative; /* Permite superponer elementos dentro del contenedor */
    margin-left: 50px; /* Ajusta el margen izquierdo según tus necesidades */
  }
.fondo-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor sin distorsionarla */
  }
.foto-perfil {
    width: 200px; /* Establece el ancho deseado */
    height: 200px; /* Establece la altura deseada */
    border-radius: 50%; /* Crea una forma circular */
    position: absolute; /* Permite superponer la imagen */
    top: -90px; /* Mueve la imagen hacia arriba (ajusta según el tamaño de la foto) */
    left: 0; /* Coloca la imagen en el lado izquierdo */
    box-shadow: 30px 0 20px #001A29;
}
/* Estilos CSS para el botón de carga de imágenes */
.upload-button {
  display: block; /* Cambiar a bloque para que ocupe todo el ancho disponible */
  margin-top: 10px; /* Espacio superior para separarlo de la imagen */
  text-align: center; /* Alineación centrada del texto del botón */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón por encima */
  color: #ffffff; /* Color del texto del botón */
  background-color: #007bff; /* Color de fondo del botón */
  padding: 10px 20px; /* Relleno interno para darle forma al botón */
  border-radius: 5px; /* Bordes redondeados */
}

.upload-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón por encima */
}

.contenedor-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px; /* Ajusta el margen izquierdo según tus necesidades */
}
.contenedor-info p {
    margin: 5px 0;
}
.contenedor-info img {
    width: 20px; /* Ajusta el ancho deseado para las imágenes de reputación */
    height: 20px; /* Ajusta la altura deseada para las imágenes de reputación */
    margin-right: 5px; /* Ajusta el margen derecho entre las imágenes y el texto */
}
.contenedor-nombre h3 {
    font-size: 40px;
}
  
.contenedor-nombre p {
    margin: 5px 0; /* Ajusta el espaciado superior e inferior */
    text-shadow: 2px 2px 4px #d5d5d5c4; /* Aplica una sombra gris al párrafo */
}
.contenedor-nombre {
    text-align:left; /* Centra el texto horizontalmente */
    margin-top: 90px; /* Ajusta el espaciado superior según tus necesidades */
    margin-left: 60px; 
    color: #001A29;
    
  }
  
.contenedor-nombre h3 {
    font-size: 28px;
    font-weight: 700;
}
.contenedor-nombre p {
    font-size: 12px;
  }
  
 
  
  
  
  